* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.App {
  min-height: 100vh;
  position: relative;
  background-color: black;
}

.camera {
  position: relative;
}

.result {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.4s;
}

.result.hasPhoto {
  left: 0;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  /*making a circle */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  border: 2px solid #8b8a8a;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  overflow: visible;
}

button::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  z-index: -1; /*puts it behind any text or icon */
  transition: transform 0.15s ease; /*controls speed of shrink*/
}

button:active::before {
  transform: scale(0.85); /*shrinks white by 15%*/
}